* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin-top: 0 !important;
}

body {
  padding-top: 20px; // sticky header offset

  &.admin-bar {
    padding-top: 52px; // header offset + admin bar
  }
}

// Affix footer to bottom of page
.wp-site-blocks {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-footer {
  margin-top: auto;
}

// ---- Global Utilities --- 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
