.site-header {

  --link-color: var(--wp--preset--color--contrast);
  --link-color-bg: transparent;
  --link-color--hover: var(--wp--preset--color--contrast);
  --link-color-bg--hover: var(--wp--preset--color--base-200);
  --link-padding: 0.35rem 1rem;
  --menu-background: var(--wp--preset--color--white);

  position: sticky;
  width: 100%;
  top: 20px;
  left: 0;
  z-index: 99;

  .admin-bar & {
    top: 52px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: var(--wp--preset--shadow--elevation-200);
  }

  // Logo Styles
  .header__logo {
    font-weight: 700;
    color: white;
    background: black;
    border-radius: var(--wp--custom--border-radius--md);
    text-decoration: none;
    height: 50px;
    width: auto;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Burger Styles

  label {
    cursor: pointer;
  }

  .menu-toggle-container:has(input:focus-visible) {
    outline: 2px solid var(--wp--preset--color--primary);
  }

  // Navbar Styles
  .navbar {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;

    a {
      text-decoration: none;
      display: inline-block;
      padding: var(--link-padding);
      border-radius: var(--wp--custom--border-radius--md);
      background: var(--wp--preset--color--base);
    }

    a, summary {
      cursor: pointer;
      transition: all 0.2s ease;
      color: var(--link-color);
      background: var(--link-color-bg);

      &:hover, &:focus-visible {
        color: var(--link-color--hover);
        background: var(--link-color-bg--hover);
      }
    }

    // Dropdown Default Styles
    details {
      position: relative;
    }

    // Remove base arrow
    details > summary {
      list-style: none;
    }

    details > summary::-webkit-details-marker {
      display: none;
    }

    // Dropdown toggle
    summary {
      padding: var(--link-padding);
      background: var(--wp--preset--color--base);
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      border-radius: var(--wp--custom--border-radius--md);

      // Custom arrow
      &::after {
        content: "";
        transform-origin: 50%;
        pointer-events: none;
        justify-self: flex-end;
        width: .375rem;
        height: .375rem;
        transition-property: rotate, translate;
        transition-duration: .2s;
        display: block;
        translate: 0 -1px;
        rotate: -135deg;
        box-shadow: inset 2px 2px;
      }
    }

    // Custom arrow
    details[open] {
      summary {
        &::after {
          translate: 0 1px;
          rotate: 45deg;
        }
      }
    }

    // Dropdown Menu
    ul.dropdown-menu {
      list-style-type: none;
      position: absolute;
      z-index: 99;
      padding: 0.25rem;
      background: var(--menu-background);
      box-shadow: var(--wp--preset--shadow--elevation-200);
      border-radius: var(--wp--custom--border-radius--md);
    }
  }

  // Mobile Styles
  @media (width < map-get($breakpoints, lg)){
    // Change navbar to menu reveal
    .navbar {
      display: none;
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem 1rem;
      background: var(--menu-background);
      box-shadow: var(--wp--preset--shadow--elevation-200);
      border-radius: var(--wp--custom--border-radius--md);

      // Change dropdown to relative on mobile
      ul.dropdown-menu {
        position: relative;
        top: unset;
        left: unset;
        box-shadow: none;
      }
    }

    // Reveal menu logic
    &:has(input#menu-toggle:checked) .navbar {
      display: flex;
    }
  }
}

